h1{color: blueviolet;}
#red{color: red;}
.yellow{color: yellow;}

.box{
    display: inline-block;
}

#ldl{
    background-color: yellow;
    width: 20px;
    height: 20px;
    ;
}

#rdl{ 
    background-color: blue;
    width: 20px;
    height: 20px;
    margin-left: calc(100vw - 60px);
}

